.p1 {
    font-family: serif;
    font-size: 20px;
    border: 5px solid red;
}
.p2{
    font-family: Sans-serif;
    font-size: 20px;
    border-left: 6px solid red;
}
.p3{
    font-family: Monospace;
    font-size: 20px;
    border-bottom: 6px solid red;
}
.p4{
    font-family: cursive;
    font-size: 20px;
}
.p5{
    font-family: fantasy;
    font-size: 20px;
}
.s1{
    font-style: normal;
    font-size: 20px;
    border-style: solid;
    border-width: 5px;
}
  
.s2{
    font-style: italic;
    font-size: 20px;
    border-style: dotted;
    border-width: thick;
}
  
.s3{
    font-style: oblique;
    font-size: 20px;
}
.w1{
    font-weight: normal;
    font-size: 20px;
    border-style: solid;
    border-width: 5px 10px;
}
  
.w2{
    font-weight: light;
    font-size: 20px;
    border-style: solid;
    border-width: 8px 10px 4px 35px
}
  
.w3{
    font-weight: bold;
    font-size: 20px;
}

.w4{
    font-weight: lighter;
    font-size: 20px;
}
  
.w5{
    font-weight: bolder;
    font-size: 20px;
}

.v1{
    font-variant: normal;
  }
  
.v2{
    font-variant: small-caps;
  }

.fs1{
    font-size: 40px;
    border-radius: 5px;
    border-style: double;
  }
  
.fs2{
    font-size: 3em;
  }
  
.fs3{
    font-size: 14%;
  }

.google{
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #ababab;
}
#google1{
    font-family: "Audiowide", sans-serif;;
}
.google2{
    font-family: "Trirong", serif;;
}
.b1{
    background-color: coral
}
.b2{
    background-image: url(../img/descarga.jpg), url(../img/img.jpg);
    background-repeat: no-repeat, repeat;
    background-position: center; 
}

.b3{
    height: 200px;
    background-color: #cccccc;
    background-image: linear-gradient(rgb(211, 145, 70), yellow);
}

.b4{
    height: 200px;
    background-color: #cccccc;
    background-image: repeating-radial-gradient(rgb(142, 213, 241), rgb(210, 238, 217) 10%, rgb(199, 166, 171) 20%);
}

